body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #abd699, #75c9b7);
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}
div{
    display: block;
}
.intro {
    text-align: center;
    color: black;
    font-size: 20px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
}
  
.intro-text-color {
    color: whitesmoke;
    font-size: 20px;
}

.author-line {
    font-style: italic;
    margin-top: 10px;
    font-size: 14px;
}

header {
    padding: 10px;
    text-align: center;
}

main {
    margin: 10px;
}

section {

    margin-bottom: 20px;
    padding-left: 3%;
    padding-right: 3%;
}

h2 {
    color:aliceblue;
    font-size: 24px;
    margin-top: 0;
}

.bold-text {
    font-weight: bold;
    margin-bottom: 10px;
  }

.note {
    text-align: center;
}