@charset "UTF-8";

html {font-size: 100%;} /*16px*/

body {
  background-color: #c5a2b7;
  color: #581038;
  margin: 0;
  padding: 50px;
  line-height: 1.75;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-size: 5em;
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-size: 2.5em;
    font-family: 'Spectral', serif;
    border-bottom: 3px solid #581038;
    display: inline-block;
    width: fit-content;
    margin-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

p {
    font-size: 1.5em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
    text-align: center;
}